        {% extends "base.html" %}
        {% block body %}
            <div class="row" style="margin:1%;">
                <div class="col-lg-4">
                    <div class="panel panel-primary bg-info" style="background-color: #EBEBEB; height:860px;">
                        <div class="panel-heading">
                            <h3 class="panel-title">查询输入面板 (Query Input Panel)</h3>
                        </div>
                        <div class="panel-body">

                            <div class="form-group">
                                <h4><label>输入查询 (Input Query):</label></h4>
                                <input class="form-control" id="search-query" type="text" placeholder="Enter your query"><br><br>
                                <input class="btn btn-primary form-control" type="submit" id="submit-query">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="panel panel-primary bg-info" style="background-color: #EBEBEB; height:860px;">
                        <div class="panel-heading">
                            <h3 class="panel-title">结果面板 (Result Panel)</h3>
                        </div>
                        <div class="panel-body" id="results">
                            <div id="results_panel">
                                <div>
                                    <p>输入查询，查看结果 (Enter query to see results)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(function(){
                    $("#submit-query").click(function(){
                        var q = $("#search-query").val();
                        $.ajax({
                            url: "/get_ranks",
                            data: {search:q},
                            success:function(response){
                                console.log(response);
                                var res = document.getElementById("results");
                                res.removeChild(document.getElementById("results_panel"));
                                var txt_head = document.createElement('p');
                                var p_text = document.createTextNode("结果 (Results):");
                                txt_head.appendChild(p_text);
                                res.appendChild(txt_head);
                                var idiv = document.createElement('div');
                                idiv.id = "results_panel";
                                document.getElementById("results").appendChild(idiv);
                                d = JSON.parse(response);
                                for(x in d){
                                    var val = d[x];
                                    var idiv = document.createElement('div');
                                    idiv.id = x;
                                    idiv.className = "panel panel-primary bg-info";
                                    document.getElementById('results_panel').appendChild(idiv);

                                    var childDiv = document.createElement('div');
                                    childDiv.id = x + "_child";
                                    childDiv.className = "panel-body";
                                    document.getElementById(x).appendChild(childDiv);

                                    var childName = document.createElement('p');
                                    var p_name_text = document.createTextNode("病 (Disease): "+ d[x][1]);
                                    childName.appendChild(p_name_text);
                                    document.getElementById(x + "_child").appendChild(childName);

                                    var childScore = document.createElement('p');
                                    var p_score_text = document.createTextNode("相关评分 (Score): "+ d[x][0]);
                                    childScore.appendChild(p_score_text);
                                    document.getElementById(x + "_child").appendChild(childScore);

                                }

                            },
                            error:function(error){
                                console.log(error);
                            }
                        });
                    });
                });
            </script>
            {% with messages = get_flashed_messages() %}
                {% for message in messages %}
                    {{message}}
                {% endfor %}
            {% endwith %}
        {% endblock %}