[Desktop Entry]
Encoding=UTF-8
Name=Link to javascript - Create <div> and append <div> dynamically - Stack Overflow
Type=Link
URL=http://stackoverflow.com/questions/14004117/create-div-and-append-div-dynamically
Icon=text-html
